.form {
    margin: 0 auto;
    max-width: 65%;
    display: flex;
    color: white;
    padding: 10px
}
.input  {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}
.formContainer {
    margin: 0 auto;
    width: 60%;
    border-radius: 12px;
}
.btnsFlex {
    display: flex;
    justify-content: space-between;
    width: 400px;
}