.form {
    margin: 0 auto;
    max-width: 65%;
    display: flex;
    color: white;
}
.input  {
    width: 100%;
    padding: 5px;
}
.formContainer {
    margin: 0 auto;
    width: 60%;
    border-radius: 12px;
}