.todoFlex {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.buttonsFlex {
    display: flex;
    justify-content: space-between;
    width: 230px;
}
.card {
    margin-top: 2px;
    
}
.container {
    margin: 0 auto;
    width: 60%;
    border-radius: 12px;
}
