.btn_change-theme {
    position: absolute;
    top: 58px;
    left: 16.5%;
}
.show-more {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin: 0 auto;
    margin-top: 15px;
}
.show-more button {
    cursor: pointer;
}
